.git
.cache
tmp/*
data/*
notebooks/*
models/*
__pycache__/*
fil-result/*
src/*
dvc_plots/*
catboost_info/*
tests/*
mydata/*

*.pem
*.ipynb
*.tif
*.md

!models/model.joblib
!src/utils/validate_io.py 
!src/utils/mosaic.py 
!src/production.py 
!data/train/selected_features.json
!src/__init__.py 
