.git
.cache
tmp/*
data/*
notebooks/*
models/*
__pycache__/*
fil-result/*
src/*

*.pem
*.ipynb
*.tif

!models/cat_v20_tuned.pkl
!data/urbanmask.tif
!src/transfer_learning.py 
!src/slow_glcm.py 
!src/mosaic.py 
!src/validate_io.py 
!src/__init__.py 