# data/models/credentials
config.yaml
tmp/*
data/*
models/*
*.DS_Store
plantations-packageslist.txt
src/fil-result/*
fil-result/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc 

# Jupyter Notebook
.ipynb_checkpoints
notebooks/catboost_info/*
notebooks/conclusions.ipynb